body{
font-family: Arial;
margin:0;
background:#f4f4f4;
}

header{
background:#000;
color:white;
text-align:center;
padding:30px;
}

nav{
background:#333;
text-align:center;
padding:10px;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
}

.hero{
text-align:center;
padding:80px;
background:#ffcc00;
}

.hero button{
padding:12px 25px;
font-size:18px;
border:none;
background:black;
color:white;
}

.cards{
display:flex;
justify-content:center;
gap:20px;
padding:40px;
}

.card{
background:white;
padding:20px;
width:250px;
border-radius:10px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
}

footer{
background:#000;
color:white;
text-align:center;
padding:20px;
}
